<div class="card" style="width: 20rem">
  {% if instance.img %}
  <a href="{{ instance.get_absolute_url }}"
    ><img
      class="card-img-top"
      src="{{ instance.img.url }}"
      alt="{{ instance.title}} logo"
  /></a>
  {% endif %}
  <div class="card-body">
    <h4 class="card-title">
      <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
    </h4>
    <p class="card-text">{{ instance.description|truncatewords:12|linebreaks}}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
    {% comment %} <a
      href="{% url 'products:ProductSlug' slug=instance.slug  %}"
      class="btn btn-warning"
      >URL shortcut</a
    > {% endcomment %}
  </div>
</div>
